{% if section.settings.product != blank %}
  <div class="page-width">
    <h2 class="mb-15">{{ section.settings.heading }}</h2>
    <div class="flex">
      <div class="image-card">
        {% render 'image', class: '', mobileSrc: section.settings.product.featured_image, desktopSrc: section.settings.product.featured_image %}
      </div>
      <div class="producr-card">
        <h3 class="mb-10">{{ section.settings.product.title }}</h3>
        <hr>
        <p class="mb-10">MRP:
          <span class="price">{{ section.settings.product.compare_at_price_max | money_with_currency }}</span>
        </p>
        <p class="mb-10">Offer:
          <span class="price">{{ section.settings.product.price | money_with_currency }}</span>
        </p>
        <hr>
        <p class="mb-10">Description:
          <span class="">{{ section.settings.product.content }}</span>
        </p>
        <hr>
        <div class="product-card__form">
          {%- form 'product', section.settings.product -%}
            <input
              type="hidden"
              name="quantity"
              value="1">
            <select name="id" class="hidden">
              {% for variant in product.variants %}
                <option
                  value="{{ variant.id }}"
                  {% if variant.id == current_variant.id %}
                  selected
                  {% endif %}>
                  {{ variant.title }}
                </option>
              {% endfor %}
            </select>

            {% unless product.has_only_default_variant %}
              {%- for option in product.options_with_values -%}
                <div class="product-card__options">
                  <label class="product-card__options--label h5">{{ option.name }}</label>

                  <div class="product-card__options--swatches flex flex-wrap align-center justify-center">
                    {%- for value in option.values -%}
                      <div class="product-card__options--swatch swatch-{{ option.name | handleize }}">
                        <input
                          hidden
                          type="radio"
                          id="{{ section.id }}-{{ product.id }}-{{ value }}"
                          name="{{ option.name }}"
                          value="{{ value | escape }}"
                          {% if option.selected_value == value %}
                          checked
                          {% endif %}>
                        {% if option.name == 'Color' %}
                          <label for="{{ section.id }}-{{ product.id }}-{{ value }}" style="background-color: {{ value | handleize }}; background-image: url({{ value | handleize | append: '.png' | file_img_url }})"></label>
                        {% else %}
                          <label for="{{ section.id }}-{{ product.id }}-{{ value }}">
                            {{ value }}
                          </label>
                        {% endif %}
                      </div>
                    {%- endfor -%}
                  </div>
                </div>
              {%- endfor -%}
            {% endunless %}
          {%- endform -%}
        </div>

      </div>
    </div>
  </div>
{% endif %}

<style>
  .price {
    font-size: small;
  }
  .producr-card {
    padding: 5px;
  }
  .image-card {
    width: 100%;
  }
  @media screen and (min-width:750px) {
    .image-card {
      width: 50vw;
    }
  }
  .compare_price {}
</style>

{% schema %}
  {
    "name": "Featured product",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Featured Product"
      }, {
        "type": "product",
        "id": "product",
        "label": "Product"
      }, {
        "type": "header",
        "content": "PRODUCT FORM SETTINGS"
      }, {
        "type": "color",
        "label": "Product form border",
        "id": "product-form-color",
        "default": "#F0F0F0"
      }
    ],
    "presets": [
      {
        "name": "Featured product"
      }
    ]
  }
{% endschema %}