<div class="center page-width">
  <h1>{{ section.settings.heading }}</h1>
  <div data-flickity='{ "cellAlign": "left", "contain": true }'>
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        <div class="text-content">
          {% if block.settings.testimonial_image != blank %}
            <img class="testimonial_image" src="{{block.settings.testimonial_image |img_url: 'small'}}">
            <p>{{ block.settings.stars }}</p>
            <div>
              {{ block.settings.testimonial-content }}
            </div>
            <div class="font-bold">
              {{ block.settings.testimonial-name }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>

<style>
  .font-bold {
    font-weight: 700;
  }
  .text-content {
    padding: 5px;
    margin: 5px;
  }
  .dot {
    display: none;
  }
  .section {
    background-color: #FDF7F1;
    padding: 20px;
  }
  .testimonial_image {
    border-radius: 100px;
    width: 100px;
    height: 100px;
  }
</style>

{% schema %}
  {
    "name": "Testimonials",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "What Our Clients Say"
      }
    ],
    "blocks": [
      {
        "name": "testimonials",
        "type": "testimonials-section",
        "limit": 6,
        "settings": [
          {
            "type": "image_picker",
            "id": "testimonial_image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "stars",
            "default": "⭐⭐⭐⭐⭐",
            "label": "Rating"
          }, {
            "type": "richtext",
            "id": "testimonial-content",
            "default": "<p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>",
            "label": "Description"
          }, {
            "type": "richtext",
            "id": "testimonial-name",
            "default": "<p>John Smith/London</p>",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials"
      }
    ]
  }
{% endschema %}